{
    "adapters": [
        {
            "name": "AdColony",
            "settings": {
                "app.id":"app214118f4636240da8c",
                "client.options":"version:1.0,store:google",
                "zone.ids.rewarded.video": [
                    "vz88f64a4c8a2c41c6ab"
                ]
            }
        },
        {
            "name": "Applifier",
            "settings":{
                "game.id.key": "29669",
                "zone.id.interstitial": "",
                "zone.id.rewarded.video": "rewardedVideoZone",
                "noOfferScreen": true,
                "openAnimated": true,
                "muteVideoSounds": false,
                "useDeviceOrientationForVideo": true,
                "debug.mode": true
            }
        },
        {
            "name": "AppLovin",
            "settings": {
                "comment": "No info need to be provided for AppLovin in this file. Please put the SDK key into the Android Manifest"
            }
        }
    ]
}
